@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

main{
    background-color: hsl(225, 100%, 94%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow:column nowrap;
    position: relative;
    overflow: hidden;
}

section{
    position: relative;
    background-color: white ;
    width: 350px;
    border-radius: 20px;
    font-family: 'Red Hat Display' , sans-serif ;
    z-index: 2;
}

.box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color:hsl(225, 100%, 98%) ;
    margin-left: 20px ;
    margin-right: 20px;
    border-radius: 20px;
    padding: 15px 5px;
    align-items: center;
    font-size: 13px;
}

.header{
    background-image: url(images/illustration-hero.svg);
    background-size: 350px 170px;
    height: 170px;
    width: 350px;
    border-radius: 20px 20px 0 0 ;

}

.expel{
    padding: 30px;
}

.expel h3{
    font-family: 'Red Hat Display' ;
    font-weight:900;
    padding-bottom: 15px;
    color: hsl(223, 47%, 23%);
}


p{
    font-weight:500;
    color:  hsl(224, 23%, 55%);

}

.box h4{
    font-weight: 900;
    color:hsl(223, 47%, 23%) ;
    
}

.buttons{
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    margin: 20px 20px;
}

.probutton , .Cancel{
    padding: 10px 25px;
    margin-top: 5px;
    

}

.buttons a{
    text-decoration: none;
    font: 'Red Hat Display';
    font-weight: 900;
    font-size: 13px;
}

.Cancel a{
    color: hsl(224, 23%, 55%);
}

.probutton{
    
    background-color:hsl(245, 75%, 52%) ;
    border-radius: 10px;
}

.probutton a{
    color:hsl(225, 100%, 98%) ;
}

.bgi{
    position: absolute;
    background-image:url(images/pattern-background-mobile.svg);
    background-size: 100% ;
    background-repeat: no-repeat;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;

}

.probutton:hover{
    background-color:  hsl(224, 23%, 55%);
}

.Cancel a:hover{
    color:hsl(223, 47%, 23%);
}

.link a:hover{
    text-decoration: none;
    color:hsl(224, 23%, 55%) ;
}

.attribution{
    text-align: center;
}



@media only screen and (min-width:400px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
    
    }
    
    main{
        background-color: hsl(225, 100%, 94%);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-flow:column nowrap;
        position: relative;
        overflow: hidden;
    }
    
    section{
        position: relative;
        background-color: white ;
        width: 350px;
        border-radius: 20px;
        font-family: 'Red Hat Display' , sans-serif ;
        z-index: 2;
    }
    
    .box{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        background-color:hsl(225, 100%, 98%) ;
        margin-left: 20px ;
        margin-right: 20px;
        border-radius: 20px;
        padding: 15px 5px;
        align-items: center;
        font-size: 13px;
    }
    
    .header{
        background-image: url(images/illustration-hero.svg);
        background-size: 350px 170px;
        height: 170px;
        width: 350px;
        border-radius: 20px 20px 0 0 ;
    
    }
    
    .expel{
        padding: 30px;
    }
    
    .expel h3{
        font-family: 'Red Hat Display' ;
        font-weight:900;
        padding-bottom: 15px;
        color: hsl(223, 47%, 23%);
    }
    
    
    p{
        font-weight:500;
        color:  hsl(224, 23%, 55%);
    
    }
    
    .box h4{
        font-weight: 900;
        color:hsl(223, 47%, 23%) ;
        
    }
    
    .buttons{
        display: flex;
        justify-content: space-between;
        flex-flow: column;
        margin: 20px 20px;
    }
    
    .probutton , .Cancel{
        padding: 10px 25px;
        margin-top: 5px;
        
    
    }
    
    .buttons a{
        text-decoration: none;
        font: 'Red Hat Display';
        font-weight: 900;
        font-size: 13px;
    }
    
    .Cancel a{
        color: hsl(224, 23%, 55%);
    }
    
    .probutton{
        
        background-color:hsl(245, 75%, 52%) ;
        border-radius: 10px;
    }
    
    .probutton a{
        color:hsl(225, 100%, 98%) ;
    }
    
    .bgi{
        position: absolute;
        background-image:url(images/pattern-background-desktop.svg);
        background-size: 100% ;
        background-repeat: no-repeat;
        top: -100px;
        left:0;
        width: 100%;
        height: 100%;
    
    }
    
    .probutton:hover{
        background-color:  hsl(224, 23%, 55%);
    }
    
    .Cancel a:hover{
        color:hsl(223, 47%, 23%);
    }
    
    .link a:hover{
        text-decoration: none;
        color:hsl(224, 23%, 55%) ;
    }

    .attribution{
        text-align: center;
    }

}






